Source: piriscope
Section: video
Priority: optional
Maintainer: Chris Schmich <schmch@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/schmich/piriscope

Package: piriscope
Architecture: all
Depends: x264
Description: Stream to Periscope from the Raspberry Pi.
 Piriscope enables streaming from the Raspberry Pi to the Periscope
 live streaming service via the Pi's camera module.
